IntegrationContent/IntegrationArtefacts/com.nmbs.if.GLB.RDMT2VBX.I0010.TACO_DERIVED_TACO.Read/src/main/resources/xsd/IDOC_ZBENE_TABLES.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0">
 <xsd:element name="ZBENE_TABLES">
  <xsd:annotation>
   <xsd:documentation>Update BENE tables</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="IDOC">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="EDI_DC40">
        <xsd:annotation>
         <xsd:documentation>IDoc control record for the interface to the external system</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element fixed="EDI_DC40" name="TABNAM" type="xsd:string">
           <xsd:annotation>
            <xsd:documentation>Name of Table Structure</xsd:documentation>
           </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="MANDT">
           <xsd:annotation>
            <xsd:documentation>Client</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DOCNUM">
           <xsd:annotation>
            <xsd:documentation>IDoc number</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="16"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DOCREL">
           <xsd:annotation>
            <xsd:documentation>SAP Release for IDoc</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="4"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STATUS">
           <xsd:annotation>
            <xsd:documentation>Status of IDoc</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DIRECT">
           <xsd:annotation>
            <xsd:documentation>Direction</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:enumeration value="1">
              <xsd:annotation>
               <xsd:documentation>Outbound</xsd:documentation>
              </xsd:annotation>
             </xsd:enumeration>
             <xsd:enumeration value="2">
              <xsd:annotation>
               <xsd:documentation>Inbound</xsd:documentation>
              </xsd:annotation>
             </xsd:enumeration>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="OUTMOD">
           <xsd:annotation>
            <xsd:documentation>Output mode</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="EXPRSS">
           <xsd:annotation>
            <xsd:documentation>Overriding in inbound processing</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TEST">
           <xsd:annotation>
            <xsd:documentation>Test flag</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element fixed="ZBENE_TABLES" name="IDOCTYP" type="xsd:string">
           <xsd:annotation>
            <xsd:documentation>Name of basic type</xsd:documentation>
           </xsd:annotation>
          </xsd:element>
          <xsd:element fixed="" minOccurs="0" name="CIMTYP" type="xsd:string">
           <xsd:annotation>
            <xsd:documentation>Extension (defined by customer)</xsd:documentation>
           </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESTYP">
           <xsd:annotation>
            <xsd:documentation>Message type</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="30"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESCOD">
           <xsd:annotation>
            <xsd:documentation>Message code</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESFCT">
           <xsd:annotation>
            <xsd:documentation>Message Function</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STD">
           <xsd:annotation>
            <xsd:documentation>EDI standard, flag</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STDVRS">
           <xsd:annotation>
            <xsd:documentation>EDI standard, version and release</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="6"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STDMES">
           <xsd:annotation>
            <xsd:documentation>EDI message type</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="6"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPOR">
           <xsd:annotation>
            <xsd:documentation>Sender port (SAP System, external subsystem)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPRT">
           <xsd:annotation>
            <xsd:documentation>Partner type of sender</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="SNDPFC">
           <xsd:annotation>
            <xsd:documentation>Partner Function of Sender</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPRN">
           <xsd:annotation>
            <xsd:documentation>Partner Number of Sender</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="SNDSAD">
           <xsd:annotation>
            <xsd:documentation>Sender address (SADR)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="21"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="SNDLAD">
           <xsd:annotation>
            <xsd:documentation>Logical address of sender</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="70"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPOR">
           <xsd:annotation>
            <xsd:documentation>Receiver port</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="RCVPRT">
           <xsd:annotation>
            <xsd:documentation>Partner Type of Receiver</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="RCVPFC">
           <xsd:annotation>
            <xsd:documentation>Partner function of recipient</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPRN">
           <xsd:annotation>
            <xsd:documentation>Partner Number of Receiver</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="RCVSAD">
           <xsd:annotation>
            <xsd:documentation>Recipient address (SADR)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="21"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="RCVLAD">
           <xsd:annotation>
            <xsd:documentation>Logical address of recipient</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="70"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="CREDAT">
           <xsd:annotation>
            <xsd:documentation>Created On</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="8"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="CRETIM">
           <xsd:annotation>
            <xsd:documentation>Created at</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="6"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="REFINT">
           <xsd:annotation>
            <xsd:documentation>Transmission file (EDI Interchange)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="REFGRP">
           <xsd:annotation>
            <xsd:documentation>Message group (EDI Message Group)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="REFMES">
           <xsd:annotation>
            <xsd:documentation>Message (EDI Message)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ARCKEY">
           <xsd:annotation>
            <xsd:documentation>Key for external message archive</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="70"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="SERIAL">
           <xsd:annotation>
            <xsd:documentation>Serialization</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="20"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element maxOccurs="unbounded" minOccurs="0" name="ZBENE_BO_ZBENE_WORK_UNIT">
        <xsd:annotation>
         <xsd:documentation>NMBS_BO_WORK_UNIT_MV</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element minOccurs="0" name="WRUN_ID">
           <xsd:annotation>
            <xsd:documentation>ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="WORK_UNIT_ID">
           <xsd:annotation>
            <xsd:documentation>Work Unit ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="5"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="VLDTY_DATE">
           <xsd:annotation>
            <xsd:documentation>Text field length 14</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STS_CD">
           <xsd:annotation>
            <xsd:documentation>STS Code</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ACCT_UNIT_ID">
           <xsd:annotation>
            <xsd:documentation>Account Unit ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="5"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DSCRPN_D">
           <xsd:annotation>
            <xsd:documentation>Description</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="30"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DSCRPN_F">
           <xsd:annotation>
            <xsd:documentation>Description</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="30"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TIME_STAMP">
           <xsd:annotation>
            <xsd:documentation>Text field length 14</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DATE_END">
           <xsd:annotation>
            <xsd:documentation>Text field length 14</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="CUST_ID">
           <xsd:annotation>
            <xsd:documentation>ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="22"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DECAF_UIC">
           <xsd:annotation>
            <xsd:documentation>Decaf UIC</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="NAME">
           <xsd:annotation>
            <xsd:documentation>Name</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="50"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element maxOccurs="unbounded" minOccurs="0" name="ZBENE_UIC_TARIFF_MAP">
        <xsd:annotation>
         <xsd:documentation>NMBS_BO_UIC_TARIFF_MAP_MV</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element minOccurs="0" name="TUTM_ID">
           <xsd:annotation>
            <xsd:documentation>ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="22"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TACO_ID">
           <xsd:annotation>
            <xsd:documentation>ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="22"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TACO_CODE">
           <xsd:annotation>
            <xsd:documentation>Taco Code</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="9"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="UIC_TARIFF_CODE">
           <xsd:annotation>
            <xsd:documentation>UIC Tariff. Code</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="5"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STATUS">
           <xsd:annotation>
            <xsd:documentation>Status</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LAST_UPDATE_DATE">
           <xsd:annotation>
            <xsd:documentation>Text field length 14</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element maxOccurs="unbounded" minOccurs="0" name="ZBENE_TTLB">
        <xsd:annotation>
         <xsd:documentation>NMBS_BO_TTLB_MV</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element minOccurs="0" name="ID">
           <xsd:annotation>
            <xsd:documentation>ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="22"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TRAINTYPE_ID">
           <xsd:annotation>
            <xsd:documentation>ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="22"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LABEL">
           <xsd:annotation>
            <xsd:documentation>Label</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="900"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STATUS">
           <xsd:annotation>
            <xsd:documentation>Status</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LAST_UPDATE_DATE">
           <xsd:annotation>
            <xsd:documentation>Text field length 14</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element maxOccurs="unbounded" minOccurs="0" name="ZBENE_TACO">
        <xsd:annotation>
         <xsd:documentation>NMBS_BO_TACO_MV</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element minOccurs="0" name="ID">
           <xsd:annotation>
            <xsd:documentation>ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="22"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DOMAIN_TYPE">
           <xsd:annotation>
            <xsd:documentation>Domain</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TRAINTYPE">
           <xsd:annotation>
            <xsd:documentation>Train type</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TIC">
           <xsd:annotation>
            <xsd:documentation>TIC</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="5"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STARTDATE">
           <xsd:annotation>
            <xsd:documentation>Text field length 14</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ENDDATE">
           <xsd:annotation>
            <xsd:documentation>Text field length 14</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DESCRIPTION">
           <xsd:annotation>
            <xsd:documentation>Description</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="100"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ACTIVE">
           <xsd:annotation>
            <xsd:documentation>Active</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STATUS">
           <xsd:annotation>
            <xsd:documentation>Status</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LAST_UPDATE_DATE">
           <xsd:annotation>
            <xsd:documentation>Text field length 14</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element maxOccurs="unbounded" minOccurs="0" name="ZBENE_TACO_LABELS">
        <xsd:annotation>
         <xsd:documentation>NMBS_BO_TACO_LABELS_MV</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element minOccurs="0" name="ID">
           <xsd:annotation>
            <xsd:documentation>ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="22"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TACO_ID">
           <xsd:annotation>
            <xsd:documentation>ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="22"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LABEL">
           <xsd:annotation>
            <xsd:documentation>Label</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="900"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STARTDATE">
           <xsd:annotation>
            <xsd:documentation>Text field length 14</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ENDDATE">
           <xsd:annotation>
            <xsd:documentation>Text field length 14</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STATUS">
           <xsd:annotation>
            <xsd:documentation>Status</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LAST_UPDATE_DATE">
           <xsd:annotation>
            <xsd:documentation>Text field length 14</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element maxOccurs="unbounded" minOccurs="0" name="ZBENE_BO_RPST">
        <xsd:annotation>
         <xsd:documentation>NMBS_BO_RPST_MV</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element minOccurs="0" name="ID">
           <xsd:annotation>
            <xsd:documentation>ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="22"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PASSENGER_TYPE">
           <xsd:annotation>
            <xsd:documentation>Passenger Type</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="6"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DESCRIPTION">
           <xsd:annotation>
            <xsd:documentation>Description</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="255"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STATUS">
           <xsd:annotation>
            <xsd:documentation>Status</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LAST_UPDATE_DATE">
           <xsd:annotation>
            <xsd:documentation>Text field length 14</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element maxOccurs="unbounded" minOccurs="0" name="ZBENE_REF_TRAIN_TYPE">
        <xsd:annotation>
         <xsd:documentation>NMBS_BO_REF_TRAINTYPE_MV</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element minOccurs="0" name="ID">
           <xsd:annotation>
            <xsd:documentation>ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="22"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TRAINTYPE">
           <xsd:annotation>
            <xsd:documentation>Train type</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DESCRIPTION">
           <xsd:annotation>
            <xsd:documentation>Description</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="255"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="SUPPLIER">
           <xsd:annotation>
            <xsd:documentation>Supplier</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="6"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="SEGMENT_FORM">
           <xsd:annotation>
            <xsd:documentation>Segment form</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STATUS">
           <xsd:annotation>
            <xsd:documentation>Status</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LAST_UPDATE_DATE">
           <xsd:annotation>
            <xsd:documentation>Text field length 14</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element maxOccurs="unbounded" minOccurs="0" name="ZBENE_BO_REF_REASON">
        <xsd:annotation>
         <xsd:documentation>NMBS_BO_REF_REASON_MV</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element minOccurs="0" name="ID">
           <xsd:annotation>
            <xsd:documentation>ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="22"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="REASON">
           <xsd:annotation>
            <xsd:documentation>Reason</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DESCRIPTION">
           <xsd:annotation>
            <xsd:documentation>Description</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="255"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STATUS">
           <xsd:annotation>
            <xsd:documentation>Status</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LAST_UPDATE_DATE">
           <xsd:annotation>
            <xsd:documentation>Text field length 14</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element maxOccurs="unbounded" minOccurs="0" name="ZBENE_BO_REF_NETCODE">
        <xsd:annotation>
         <xsd:documentation>NMBS_BO_REF_NETCODE_MV</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element minOccurs="0" name="ID">
           <xsd:annotation>
            <xsd:documentation>ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="22"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="NETCODE">
           <xsd:annotation>
            <xsd:documentation>Netcode</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="NET_NAME">
           <xsd:annotation>
            <xsd:documentation>Net name</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="30"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STATUS">
           <xsd:annotation>
            <xsd:documentation>Status</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LAST_UPDATE_DATE">
           <xsd:annotation>
            <xsd:documentation>Text field length 14</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element maxOccurs="unbounded" minOccurs="0" name="ZBENE_BO_REF_JOURNEYTYPE">
        <xsd:annotation>
         <xsd:documentation>NMBS_BO_REF_JOURNEYTYPE_MV</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element minOccurs="0" name="ID">
           <xsd:annotation>
            <xsd:documentation>ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="22"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="JOURNEYTYPE">
           <xsd:annotation>
            <xsd:documentation>Journey Type</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DESCRIPTION">
           <xsd:annotation>
            <xsd:documentation>Description</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="255"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STATUS">
           <xsd:annotation>
            <xsd:documentation>Status</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LAST_UPDATE_DATE">
           <xsd:annotation>
            <xsd:documentation>Text field length 14</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element maxOccurs="unbounded" minOccurs="0" name="ZBENE_BO_REF_COMM_GROUP">
        <xsd:annotation>
         <xsd:documentation>NMBS_BO_REF_COMM_GROUP_MV</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element minOccurs="0" name="RFCG_ID">
           <xsd:annotation>
            <xsd:documentation>ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="22"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="COMM_GROUP">
           <xsd:annotation>
            <xsd:documentation>Comm Group</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="256"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STATUS">
           <xsd:annotation>
            <xsd:documentation>Status</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LAST_UPDATE_DATE">
           <xsd:annotation>
            <xsd:documentation>Text field length 14</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element maxOccurs="unbounded" minOccurs="0" name="ZBENE_BO_REF_ACCOTYPE">
        <xsd:annotation>
         <xsd:documentation>NMBS_BO_REF_ACCOTYPE_MV</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element minOccurs="0" name="ID">
           <xsd:annotation>
            <xsd:documentation>ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="22"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ACCOTYPE">
           <xsd:annotation>
            <xsd:documentation>Acco Type</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DESCRIPTION">
           <xsd:annotation>
            <xsd:documentation>Description</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="255"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STATUS">
           <xsd:annotation>
            <xsd:documentation>Status</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LAST_UPDATE_DATE">
           <xsd:annotation>
            <xsd:documentation>Text field length 14</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element maxOccurs="unbounded" minOccurs="0" name="ZBENE_BO_RECO">
        <xsd:annotation>
         <xsd:documentation>NMBS_BO_RECO_MV</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element minOccurs="0" name="ID">
           <xsd:annotation>
            <xsd:documentation>ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="22"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="NETCODE">
           <xsd:annotation>
            <xsd:documentation>Netcode</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="22"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="RECO_ID">
           <xsd:annotation>
            <xsd:documentation>Reco ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STARTDATE">
           <xsd:annotation>
            <xsd:documentation>Text field length 14</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ENDDATE">
           <xsd:annotation>
            <xsd:documentation>Text field length 14</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DESCRIPTION">
           <xsd:annotation>
            <xsd:documentation>Description</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="60"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ACTIVE">
           <xsd:annotation>
            <xsd:documentation>Active</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PASSENGERTYPE">
           <xsd:annotation>
            <xsd:documentation>Passenger Type</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="6"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STATUS">
           <xsd:annotation>
            <xsd:documentation>Status</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LAST_UPDATE_DATE">
           <xsd:annotation>
            <xsd:documentation>Text field length 14</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element maxOccurs="unbounded" minOccurs="0" name="ZBENE_BO_PERSON">
        <xsd:annotation>
         <xsd:documentation>NMBS_BO_PERSON_MV</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element minOccurs="0" name="PRSN_ID">
           <xsd:annotation>
            <xsd:documentation>ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="22"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="CUST_ID">
           <xsd:annotation>
            <xsd:documentation>ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="22"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PERS_FIRSTNAME">
           <xsd:annotation>
            <xsd:documentation>First Name</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="35"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PERS_LASTNAME">
           <xsd:annotation>
            <xsd:documentation>Last Name</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="50"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element maxOccurs="unbounded" minOccurs="0" name="ZBENE_GREENPOINT_RMNNG">
        <xsd:annotation>
         <xsd:documentation>NMBS_BO_GREENPOINT_RMNNG_CRDT</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element minOccurs="0" name="AS_AT_DATE">
           <xsd:annotation>
            <xsd:documentation>Text field length 14</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="CUST_ID">
           <xsd:annotation>
            <xsd:documentation>ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="22"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="GP_REMAINING_CREDIT">
           <xsd:annotation>
            <xsd:documentation>Remaining Credit</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="22"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element maxOccurs="unbounded" minOccurs="0" name="ZBENE_CP_CONTRACT">
        <xsd:annotation>
         <xsd:documentation>NMBS_BO_CP_CONTRACT_MV</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element minOccurs="0" name="CP_CONTRACT_ID">
           <xsd:annotation>
            <xsd:documentation>ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="22"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="CP_CONTRACTNR">
           <xsd:annotation>
            <xsd:documentation>Contract number</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="12"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="CONTRACT_NAME">
           <xsd:annotation>
            <xsd:documentation>Description</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="60"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="CREATION_DATE">
           <xsd:annotation>
            <xsd:documentation>Text field length 14</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="SUPPLIER">
           <xsd:annotation>
            <xsd:documentation>Supplier</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="6"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LAST_UPDATE_DATE">
           <xsd:annotation>
            <xsd:documentation>Text field length 14</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element maxOccurs="unbounded" minOccurs="0" name="ZBENE_BENEUSER">
        <xsd:annotation>
         <xsd:documentation>NMBS_BO_BENEUSER_MV</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element minOccurs="0" name="BENE_USER">
           <xsd:annotation>
            <xsd:documentation>Bene user</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="20"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BU_DESCRIPTION">
           <xsd:annotation>
            <xsd:documentation>Description</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="980"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element maxOccurs="unbounded" minOccurs="0" name="ZBENE_ACCOUNT_UNIT">
        <xsd:annotation>
         <xsd:documentation>NMBS_BO_ACCOUNT_UNIT_MV</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element minOccurs="0" name="ACUN_ID">
           <xsd:annotation>
            <xsd:documentation>ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ACCT_UNIT_ID">
           <xsd:annotation>
            <xsd:documentation>Account Unit ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="5"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="VLDTY_DATE">
           <xsd:annotation>
            <xsd:documentation>Text field length 14</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DSCRPN_D">
           <xsd:annotation>
            <xsd:documentation>Description</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="60"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DSCRPN_F">
           <xsd:annotation>
            <xsd:documentation>Description</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="60"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element maxOccurs="unbounded" minOccurs="0" name="ZBENE_TACO_BO_ATTRIBUTES">
        <xsd:annotation>
         <xsd:documentation>BS_BO_TACO_BO_ATTRIBUTES_MV</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element minOccurs="0" name="BABA_ID">
           <xsd:annotation>
            <xsd:documentation>ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="22"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BABS_ID">
           <xsd:annotation>
            <xsd:documentation>ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="22"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BS_BO_VARPROD">
           <xsd:annotation>
            <xsd:documentation>Product</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BS_BO_PRODUCT">
           <xsd:annotation>
            <xsd:documentation>Product</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BS_BO_PROD_DESC">
           <xsd:annotation>
            <xsd:documentation>Description</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="30"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BS_BO_PROD_CAT">
           <xsd:annotation>
            <xsd:documentation>Product Category</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="30"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BS_BO_PROD_CAT_DESC">
           <xsd:annotation>
            <xsd:documentation>Description</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="30"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="NB_TRAVEL">
           <xsd:annotation>
            <xsd:documentation>Number of travels</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="11"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BELGIAN_SECTION">
           <xsd:annotation>
            <xsd:documentation>Section</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BEG_TRAVEL_PERIOD">
           <xsd:annotation>
            <xsd:documentation>Text field length 14</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="END_TRAVEL_PERIOD">
           <xsd:annotation>
            <xsd:documentation>Text field length 14</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STATUS">
           <xsd:annotation>
            <xsd:documentation>Status</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LAST_UPDATE_DATE">
           <xsd:annotation>
            <xsd:documentation>Text field length 14</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LAST_UPDATE_BY">
           <xsd:annotation>
            <xsd:documentation>Last updated by</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="20"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element maxOccurs="unbounded" minOccurs="0" name="ZBENE_TACO_BACKOFFICE_BS">
        <xsd:annotation>
         <xsd:documentation>BS_BO_TACO_BACKOFFICE_BS_MV</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element minOccurs="0" name="BABS_ID">
           <xsd:annotation>
            <xsd:documentation>ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="22"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BS_BACKOFFICE_ID">
           <xsd:annotation>
            <xsd:documentation>Backoffice ID</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DESCRIPTION">
           <xsd:annotation>
            <xsd:documentation>Description</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="256"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STATUS">
           <xsd:annotation>
            <xsd:documentation>Status</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LAST_UPDATE_DATE">
           <xsd:annotation>
            <xsd:documentation>Text field length 14</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LAST_UPDATE_BY">
           <xsd:annotation>
            <xsd:documentation>Last updated by</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="20"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PROD_BENE">
           <xsd:annotation>
            <xsd:documentation>Product</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element maxOccurs="unbounded" minOccurs="0" name="E1IDOCENHANCEMENT">
        <xsd:annotation>
         <xsd:documentation>Segment for Dynamic Enhancement of IDoc Types</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element minOccurs="0" name="IDENTIFIER">
           <xsd:annotation>
            <xsd:documentation>Data Containers for Enhancement of IDoc Types</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="30"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DATA">
           <xsd:annotation>
            <xsd:documentation>Data Container for IDoc Enhancement</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="970"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="BEGIN" use="required">
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:enumeration value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:complexType>
    </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>